<p>the script <a href="go.zsh" class="uri">go.zsh</a> produced the numbers of voters by years stored in <a href="results.data" class="uri">results.data</a> and the plotted version</p>
<div class="figure">
<img src="show.svg" />

</div>
<p>i also tried to render old html pages as csv files. there are some errors in it and need to be investigated.</p>
<p><a href="get_old_data_as_csv.zsh" class="uri">get_old_data_as_csv.zsh</a> produced</p>
<ul>
<li><a href="2000" class="uri">2000</a></li>
<li><a href="2001" class="uri">2001</a></li>
<li><a href="2002" class="uri">2002</a></li>
<li><a href="2003" class="uri">2003</a></li>
<li><a href="2004" class="uri">2004</a></li>
<li><a href="2005" class="uri">2005</a></li>
</ul>
